
/* Archive */
.archive {
    list-style: none;
    padding: 0;
    margin: 0;
}

.archive-preview {
   font-size: 1.4em;
    margin: .3em 0;
}

.archive-post {
    border-bottom: 1px solid var(--gray-medium);
}

@media screen and (max-width: 800px) {
    .archive-preview {
        font-size: 1em;
    }
    .post-footer-item  {
        font-size: .9em;
    }
}

@media screen and (max-width: 600px) {
    .archive-preview, .post-footer-item {
        font-size: .7em;
    }
}
