@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');

:root {
    --bg-primary: #e9e9e9;
    --gray-dark: #565857;
    --gray-medium: #8A8D91;
    --gray-light: #BCBDC0;
    --red: #734B5E;
    --pink: #F5D3C8;

    --gray-dark-hover: #000000;
    --gray-medium-hover: #77797c;
    --gray-light-hover: #989899;
    --red-hover: #75445b;
    --pink-hover: #ebbaaa;

}

body {
    background-color: var(--bg-primary);
    height: 100vh;
    font-family: 'Roboto Mono', monospace;
    font-size: 1.2em;
    overflow-x: hidden;
}

img {
    width: 100%;
}

.bi {
    vertical-align: .125em;
}

h1, h2, h3, h4, h5, h6, a, p, span {
    color: var(--gray-dark);
}

a {
    text-decoration: none;
    color: var(--gray-dark) !important;
    transition: 0.3s color;
}

a:hover {
    color: var(--gray-dark-hover) !important;
}

content {
    padding: 4em 0;
}

/* Basic styles */
.text {
    color: var(--dark-gray);
}

/* Navbar */
.navbar {
    font-size: 1.3em;
}

.navbar-brand {
    font-weight: 700;
    font-size: 1.3em;
}

.navbar-collapse ul {
    margin-top: auto;
    margin-bottom: auto;
}

/* ----- */

/* Home */
.home {
    width: 90%;
    margin: auto
}

.home ul {
    list-style: none;
}

.home {
    width: 90%;
    margin: auto
}

.post-preview {
    margin: 1.5em 0;
    text-decoration: none;
    display: block;
    padding: 1.5em;
    border-bottom: 1px solid var(--gray-medium);
}

.post-footer-item {
    color: var(--gray-medium);
    margin: 0 1.5em;
}

.post-footer-item:first-child {
    margin: 0;
}

.post-preview-title {
    font-weight: 600;
}

.post-preview-body {
    color: var(--gray-medium);
}


/* Footer */
footer {
    border-top: 1px solid var(--gray-medium);
}

footer .nav-link {
    padding: .5em 0;
}

.footer-content {
    margin: 0 3em;
}

.footer-item {
    text-align: center;
}

footer .bi {
    margin: 0 .3em;
    width: 20px;
    height: 20px;
    padding: 0;
}
}
/* --------- */


/* --------- */
.page-content {
    padding: 2em;
}
