@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

:root {
    --bg-primary: #e9e9e9;
    --gray-dark: #565857;
    --gray-medium: #8A8D91;
    --gray-light: #BCBDC0;
    --red: #734B5E;
    --green: #74E223;
    --green-dark: #61d80c;
    --pink: #F5D3C8;
    --title-color: rgb(12, 12, 12);
    --gray-dark-hover: #000000;
    --gray-medium-hover: #77797c;
    --gray-light-hover: #989899;
    --red-hover: #75445b;
    --green-hover: #61c718;
    --pink-hover: #ebbaaa;

    --font-code: 'Press Start 2P', cursive;
}

body {
    background-color: var(--bg-primary);
    height: 100vh;
    font-family: 'Roboto Mono', monospace;
    font-size: 1.2em;
    overflow-x: hidden;
}

img {
    width: 100%;
}

.bi {
    vertical-align: .125em;
}   

h1, h2, h3, h4, h5, h6, a, p, span, li {
    color: var(--gray-dark);
}

a {
    text-decoration: none;
    color: var(--gray-dark) !important;
    transition: 0.3s color;
}

a:hover {
    color: var(--gray-dark-hover) !important;
}

.main-content {
    width: 80%;
    margin: auto;
}

@media only screen and (max-width: 700px) {
    .main-content {
        width: 100%;
        margin: auto;
    }
    .navbar-brand {
        font-size: 1em !important;
    }
}

@media only screen and (max-width: 700px) {
    .navbar-brand {
        font-size: .7em !important;
    }
}

content {
    padding: 4em 0;
}


/* Basic styles */
.text {
    color: var(--dark-gray);
}

/* Navbar */
.navbar {
    font-size: 1.3em;
}

.navbar-brand {
    font-weight: 700;
    font-size: 1.3em;
    margin-right: 0;
}

.navbar-collapse ul {
    margin-top: auto;
    margin-bottom: auto;
}

.navbar-collapse.collapse.show .navlist {
    flex-direction: column !important;
}

.favicon {
    width: 32px;
    height: 32px;
    margin-right: .5em;
}

/* ----- */

/* Home */
.home {
    width: 90%;
    margin: auto;
    padding: 0;
}

.home ul {
    list-style: none;
}

.home {
    width: 90%;
    margin: auto
}

.front-list {
    padding: 0;
}

@media only screen and (max-width: 700px) {
    .post-preview {
        padding: .3em 0 !important;
        font-size: .8em;
    }
}


.post-preview {
    margin: 1.5em 0;
    text-decoration: none;
    display: block;
    padding: 1.5em;
    border-bottom: 1px solid var(--gray-medium);
    transition: 0.3s ease-in-out all;
}

.post-preview:hover {
    background-color: #e0e0e0;
    transform: scale(1.01);
}

.post-footer-item {
    color: var(--gray-medium);
    margin: 0 1.5em;
}

.post-footer-item:first-child {
    margin: 0;
}

.post-preview-title {
    color: var(--title-color);
    font-weight: 600;
}

.preview-image {
    max-height: 200px;
    border-radius: 10px;
    margin: .3em auto;
    object-fit: cover;
    object-position: 50% bottom;
}

.post-preview-body {
    color: var(--gray-medium);
}

/* Computer */
#computer {
    display: block;
    background-color: black;
    width: fit-content;
    padding: 1em;
    border: 5px solid #737473;
    border-radius: 5px;
    left: 0;
    margin: auto;
    width: 46ch;
}

#computer-text {
    color: var(--green);
    font-family: 'Press Start 2P', cursive;
    padding: 0;
    margin: 0;
    width: 24ch;
    animation: typing 2s steps(24), blink .5s step-end infinite alternate;
    white-space: nowrap;
    overflow: hidden;
    border-right: 3px solid;
}

@media only screen and (max-width: 700px) {
    #computer-text {
        font-size: .8em;
    }
    #computer {
        width: 36ch;
    }
}


@media only screen and (max-width: 500px) {
    #computer-text {
        font-size: .5em;
    }
    #computer {
        width: 24ch;
    }
}

@keyframes typing {
    from {
        width: 0
    }
}

@keyframes blink {
    50% {
        border-color: transparent
    }
}


/* Footer */
footer {
    border-top: 1px solid var(--gray-medium);
}

footer .nav-link {
    padding: .5em 0;
}

.footer-content {
    margin: 0 3em;
}

.footer-item {
    text-align: center;
}

footer .bi {
    margin: 0 .3em;
    width: 20px;
    height: 20px;
    padding: 0;
}
/* --------- */


/* --------- */
.page-content {
    padding: 2em;
}

@media screen and (max-width: 800px){
    .page-content {
        padding: 1em;
    }
}

@media screen and (max-width: 600px){
    .page-content {
        padding: 0;
    }
}
