.post {
    padding: 2em;
    box-shadow: 0 0 1em .1em #555555;
}

.post-info {
    padding: .5em 0 1em 0;
    border-bottom: 1px solid var(--gray-medium);
}

.tag {
    margin: 0 .3em;
    border-radius: 5px;
    padding: .1em .3em;
    background-color: var(--red);
    color: var(--gray-light);
}

.post-body {
    margin-top: 2em;
}

@media only screen and (max-width: 700px) {
    .post {
        padding: .3em;
        box-shadow: none;
    }
    .post-body p {
        font-size: .8em;
    }
}

@media only screen and (max-width: 600px) {
    .post-info {
        font-size: .7em;
    }
}

.post-title {
    color: var(--title-color);
}

.post-image {
    margin: 2em auto;
}

.post-image figcaption {
    font-size: .9em;
    color: #555555;
}

.post-body a {
    text-decoration: underline;
}
